@using EntityLayer.Concrete
@model List<Notification>

        <div role="tabpanel" class="tab-pane   active" id="notification" aria-expanded="true">
            <ul class="list-unstyled feeds_widget">
                
                @foreach (var item in Model)
                {
                    <li>
                        <div class="feeds-left"><i class="@item.NotificationTypeSymbol @item.NotificationColor"></i></div>
                        <div class="feeds-body">
                            <h4 class="title @item.NotificationColor">@item.NotificationType </h4>
                            <small>@item.NotificationDetails</small>
                            <small class="text-muted">@item.NotificationDate</small>
                        </div>
                    </li>
                }
                
                <li>
                    <a href="/Notification/AllNotification">All Notifications</a>
                </li>
                
            </ul>
            
            
            
        </div>