@using EntityLayer.Concrete
@model List<Author>

<div class="row clearfix">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Author Information </h3>
            </div>
            <div class="table-responsive" id="users">
                <table class="table table-hover table-vcenter text-nowrap table_custom list">

                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="">
                            <td class="width35 hidden-xs">
                                <a href="javascript:void(0);" class="mail-star">
                                    <i class="fa fa-star"></i>
                                </a>
                            </td>
                            <td class="text-center width40">
                                <div class="avatar d-block">
                                    <img class="avatar" src="@item.AuthorImage" alt="avatar">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a href="javascript:void(0);">@item.AuthorName </a>
                                </div>
                                <div class="text-muted">@item.AuthorPhoneNumber</div>
                            </td>
                            <td class="hidden-xs">
                                <div class="text-muted">@item.AuthorMail</div>
                            </td>
                            <td class="hidden-sm">
                                <div class="text-muted">
                                    @item.AuthorCountry - @item.AuthorCity <br>
                                    @item.AuthorNeighborhood <br>
                                    @item.AuthorStreet
                                </div>
                            </td>
                            <td class="hidden-sm">
                                <div class="text-muted">
                                    @(((DateTime)item.AuthorRegistrationDate).ToString("dd-MMM-yyyy"))
                                </div>
                            </td>

                            <td class="hidden-sm">
                                <div class="text-muted">
                                    @item.AuthorAbout
                                </div>
                            </td>

                            <td class="text-right">
                                <a class="btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Phone">
                                    <i class="fa fa-phone"></i>
                                </a>
                                <a class="btn btn-sm btn-link" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Mail">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <a class="btn btn-sm btn-link hidden-xs js-sweetalert" data-type="confirm" href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="Delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>